@{
  ViewData["Title"] = "Groups & Links";
}
@model LinkViewModel;

<div class="text-center">
  <h1 class="display-4">Groups & Links</h1>
</div>
<div>

  <p>
    <a asp-action="Create">Create New</a>
  </p>

  @if (!Model.LinkCategories.Any())
  {
    <p>There are no links in the database!</p>
  }
  else
  {
    foreach (var category in Model.LinkCategories)
    {
      <h2 id="@category.Slug">@category.Name</h2>
      <ul>
        @foreach (var link in category.Links)
        {
          <li>
            <a href="@link.Website" target="_blank">@link.Name</a>
            @if (!string.IsNullOrWhiteSpace(link.Description))
            {
              <text> - @link.Description</text>
            }
            -
            <a asp-action="Edit"
               asp-route-id="@link.Id">
              Edit
            </a> -
            <a asp-action="Delete"
               asp-route-id="@link.Id">
              Delete
            </a>
          </li>
        }
      </ul>
    }
  }
</div>