@model IEnumerable<CityViewModel>
@{
  ViewData["Title"] = "Cities";
}

<div class="text-center">
  <h1 class="display-4">Cities</h1>
</div>

<p>
  <a asp-action="Create">Create New</a>
</p>

@if (!Model.Any())
{
  <p>There are no restaurants in the database!</p>
}
else
{
  foreach (var city in Model)
  {
    <h2>@city.Name</h2>
    if (city.Restaurants.Any())
    {
      <ul>

        @foreach (var restaurant in city.Restaurants)
        {
          <li>
            @if (!string.IsNullOrWhiteSpace(restaurant.Website))
            {
              <a href="@restaurant.Website" target="_blank">
                @if (restaurant.AllVegan)
                {
                  <strong>@restaurant.Name</strong>
                }
                else
                {
                  @restaurant.Name
                }
              </a>
            }
            else
            {
              if (restaurant.AllVegan)
              {
                <strong>@restaurant.Name</strong>
              }
              else
              {
                @restaurant.Name
              }
            }

            @if (!string.IsNullOrWhiteSpace(restaurant.Description))
            {
              <text> - @restaurant.Description</text>
            }
            -
            <a asp-action="Edit"
               asp-route-id="@restaurant.Id">
              Edit
            </a> -
            <a asp-action="Delete"
               asp-route-id="@restaurant.Id">
              Delete
            </a>
          </li>
        }
      </ul>
    }
  }
}